<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<a href="/customerinfo">Account Info</a>
<body>
    <h1>Welcome to Air Ticket Reservation System</h1>
    <h2>Search for Flights</h2>
    <form action="/search" method="post">
       
        Source: <input type="text" id="source" name="source"><br>
        
        destination: <input type="text" id="destination" name="destination"><br>
       
        Date: <input type="date" id="date" name="date"><br>
        <input type="submit" value="Search">
    </form>
    <h2>Flight Status</h2>
    <form action="/status" method="post">
        
        Airline name: <input type="text" id="airline" name="airline"><br>
      
        Flight number: <input type="text" id="flight_number" name="flight_number"><br>
  
       Date:  <input type="date" id="date" name="date"><br>
        <input type="submit" value="Check Status">
    </form>

    <a href="/logout">Logout</a>

</body>
</html>
