<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="post">
       
       Name: <input type="text" id="name" name="name"><br>
      
       Email: <input type="email" id="email" name="email"><br>
       
       Password:  <input type="password" id="password" name="password"><br>
        
       Role: <select id="role" name="role">
            <option value="customer">Customer</option>
            <option value="staff">Airline Staff</option>
        </select><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
