{% extends "base.html" %}

{% block content %}
<body>
<form action="/register" method="POST">
    <input type="radio" id="role1" name="role" value="customer" checked>
    <label for="role1">Customer</label>
    <input type="radio" id="role2" name="role" value="staff">
    <label for="role2">Staff</label><br>
    <div id="common">
        <input type="password" name = "password" placeholder="Password" required style="text-align: center;"/>
    </div>
    <div id="customer" style="display:block">
        <input type="text" name = "name" placeholder="Name" required style="text-align: center;"/>
        <input type="email" name = "email" placeholder="Email" required style="text-align: center"/>
        <input type="text" name = "address" placeholder="Address (Building, Street, City, State)" required style="text-align: center;"/>
        <input type="text" name = "phone_number" placeholder="Phone Number" required style="text-align: center;"/>
        <!-- More customer specific fields here -->
    </div>
    <div id="staff" style="display:none">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="date" name="date_of_birth" placeholder="Date of Birth">
        <div id="phone_numbers_staff">
            <input type="text" name="phone_number_staff[]" placeholder="Phone Number">
        </div>
        <button type="button" id="add_phone_number_staff">Add Another Phone Number</button>
        <button type="button" id="remove_phone_number_staff">Remove Phone Number</button>
        <input type="text" name="email_staff" placeholder="Email">
        <input type="text" name="airline_name" placeholder="Airline Name">
    </div>
    <input type="submit" value = Register style="text-align: center;"/>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>
<a href="/">Go back</a>

<script>
    document.getElementsByName("role")[0].addEventListener('change', function() {
        document.getElementById("customer").style.display = "none";
        document.getElementById("staff").style.display = "none";
        document.getElementById(this.value).style.display = "block";
    });
    document.getElementsByName("role")[1].addEventListener('change', function() {
        document.getElementById("customer").style.display = "none";
        document.getElementById("staff").style.display = "none";
        document.getElementById(this.value).style.display = "block";
    });
    document.getElementById("add_phone_number_staff").addEventListener('click', function() {
        var input = document.createElement("input");
        input.type = "text";
        input.name = "phone_number_staff[]";
        input.placeholder = "Phone Number";
        document.getElementById("phone_numbers_staff").appendChild(input);
    });
    document.getElementById("remove_phone_number_staff").addEventListener('click', function() {
        var phoneNumbersDiv = document.getElementById("phone_numbers_staff");
        if (phoneNumbersDiv.childElementCount > 1) {
            phoneNumbersDiv.removeChild(phoneNumbersDiv.lastChild);
        }
    });
</script>
</body>
</html>
{% endblock %}
